body{
    background: #bdc646;
}
h1{
    color: #9b79b8;
}
h2{
    color: yellow;
}
li{
    color: #0518c4;
}
p{
    background: white;
}
input{
    border: 5px red solid;
}
.hello{
    background: blue;
    color: white;
}
#special{
    border: 10px orange solid;
    background: violet;
}
input[type="text"]{
    color: yellow;
background: green;
}
input[type="password"]{
    color:yellow;
    background: green;
}
input:checked{
    margin-left: 50px;
}
label{
    text-transform: lowercase;
}
#special:first-letter{
    color: green;
    font-size: 100px;
}
h1:hover{
    color: white;
    border: 10px red solid;
}
a:visited{
    color: yellow;
}
a:hover{
    color: tomato;
}
h2:hover{
    color: aqua;
}
.hello:hover{
    color: chartreuse;
}
#special:hover{
    color: cyan;
}